.dart_tool/
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
build/
android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release
.idea/
.vscode/
*.iml
.DS_Store
